html {
  font-size: 26.6667vw;
}
body {
  font: 0.14rem/120% '微软雅黑';
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  vertical-align: middle;
}
.hide {
  display: none;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  background-color: #0064b2;
  color: #fff;
  width: 100vw;
  z-index: 10;
}
#header .left {
  text-align: center;
  width: .45rem;
  height: .45rem;
}
#header .left a {
  display: block;
  color: #fff;
  font-size: .16rem;
  line-height: .45rem;
}
#header .center {
  flex: 1;
  text-align: center;
}
#header .center h4 {
  line-height: .45rem;
  font-weight: normal;
}
#header .center form {
  padding-top: .05rem;
}
#header .center form input {
  width: 100%;
  height: .34rem;
  padding: .05rem .2rem;
  margin-bottom: 0;
  border-radius: .06rem;
  font-size: .14rem;
  box-sizing: border-box;
  background-color: #fff;
  text-align: left;
  color: #666;
}
#header .right {
  width: .45rem;
  height: .45rem;
  line-height: .45rem;
  text-align: center;
}
#header .right i {
  font-size: .16rem;
}
#header .right a {
  color: #fff;
  font-size: .16rem;
}
#main {
  position: relative;
  padding: .45rem 0;
  height: 100vh;
}
#main .mui-scroll-wrapper {
  position: relative;
  height: 100%;
}
#main .swiper-container {
  height: 100%;
}
#main .swiper-container .swiper-slide {
  height: auto;
}
#main .search-form {
  padding: .1rem;
}
#main .search-form form {
  display: flex;
}
#main .search-form form input {
  flex: 1;
  height: .36rem;
  border: 1px solid #0064b2;
  background-color: #fff;
  font-size: .14rem;
  text-align: left;
  border-radius: .06rem 0 0 .06rem;
  margin-bottom: 0;
}
#main .search-form form button {
  width: .6rem;
  height: .36rem;
  background: #0064b2;
  border-radius: 0 .06rem .06rem 0;
  border-color: #0064b2;
}
#main .mask {
  z-index: 5;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #232323;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .mask img {
  width: 100%;
}
#footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #0064b2;
  z-index: 10;
}
#footer a {
  display: flex;
  height: .45rem;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer a span {
  font-size: .12rem;
  line-height: 1;
}
#footer a.active {
  color: #ff7104;
}
#main {
  display: flex;
  overflow: hidden;
  background-color: #ccc;
}
#main .left {
  width: .8rem;
  height: 100vh;
}
#main .left .swiper-container {
  height: 100%;
}
#main .left .swiper-container .swiper-slide {
  height: auto;
}
#main .left ul .mui-table-view-cell::after {
  left: 0;
}
#main .left ul li a {
  height: .45rem;
}
#main .left ul li.active a {
  background-color: #ccc;
  color: #f00;
}
#main .right {
  flex: 1;
  padding: .15rem;
  height: 100vh;
}
#main .right .swiper-container {
  height: 100%;
}
#main .right .swiper-container .swiper-slide {
  height: auto;
}
#main .right .mui-col-xs-4 {
  margin-bottom: .1rem;
}
#main .right a {
  background-color: #fff;
  display: block;
  text-align: center;
  border: 1px solid transparent;
}
#main .right a img {
  width: 100%;
  height: .6rem;
}
#main .right a p {
  font-size: .16rem;
  margin: .04rem 0;
}
