@import './base.less';
// 主体区域
#main {
    // 轮播图 
    .slide {
        a {
            display: block;
            img {
                width: 100%;
            }
        }
        .swiper-pagination-bullet-active {
            background-color: #fff;
        }
    } // 导航栏
    .nav {
        padding: .1rem;
        a {
            display: block;
            img {
                width: 100%;
            }
        }
    } // 广告栏
    .banner {
        padding: .1rem;
        .left {
            a {
                // flex 布局， 自动转块，每个子元素不会有间隙
                display: flex;
                img {
                    width: 50%;
                    height: 1.2rem;
                }
            }
        }
        .right {
            a {
                display: block;
                img {
                    width: 100%;
                    height: 2.4rem;
                }
            }
        }
    } // 品牌专区 运动专区 女士专区 男士专区
    .brand,
    .sport,
    .women,
    .man {
        padding: .05rem;
        .title {
            a {
                display: block;
                img {
                    width: 100%;
                }
            }
        }
        .content {
            a {
                display: block;
                img {
                    width: 100%;
                }
            }
        }
    }
    .man {
        .content {
            a {
                img {
                    height: 1.8345rem;
                }
            }
        }
    }
}

#loading {
    .box {
        width: 1.4rem;
        height: 1.4rem;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -0.7rem;
        margin-top: -0.7rem;
    }
    .bg {
        width: 1.4rem;
        height: 1.4rem;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: .7rem;
        box-shadow: 0 0 .1rem .04rem #c041ff4d inset;
    }
    .load {
        width: 1.4rem;
        height: 1.4rem;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: .7rem;
        box-shadow: 0 .04rem 0 @main-color inset;
        animation: rotate 1s linear infinite;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}